# emacs + vi backup files
*~
.*.sw*

# various IDE junk
*.ipr
*.iml
*.iws
.project
.classpath
.settings
.gradle
gradlew
gradlew.bat

target
classes
it-repo
tmp

.externalToolBuilders
.idea
main.js
out/
node_modules
